#map {
  height: 100vh;
}

#map-container {
  position: relative;
}

#search-container {
  position: absolute;
  top: 2%;
  left: 200px;
  z-index: 30000;
  background-color: #212121;

  /* background-image:linear-gradient(  #250707, #270b0b, rgb(102, 69, 69)); */

  /* the height container, depending on its content, can be more than 25px. 
    But when it has no content, it has to be 25px */
  min-height: 25px;
  width: 500px;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: none;
  border-radius: 18px 18px 18px 18px;
  color: yellow;
  opacity: 96%;
}

#results {
  max-height: 300px;
  overflow-y: scroll;
}

.search-result {
  margin: 5px;
}

#btnToggleSearch {
  position: absolute;
  left: 50px;
  top: 10px;
  z-index: 300000;
}

.popup {
  overflow: scroll;
  width: 300px;
  height: 300px;
  background-color: #212121;
  border-color:#212121 ;
  color: #fab700;
}
.popup img
{
  height:100px;
}

@media (min-width: 767px) {

  /* because the div is a block-level element, so we use display: block */
  #search-container {
    display: block;
    left: 5%;
  }

  #btnToggleSearch {
    display: none;
  }
}


/* input[type="button"] {
  background: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
} */


.btn
{
  background-color: #fab700;
  color: white;
  padding: 10px;
  padding-right: 8px;
}

input[type="text"], textarea {

  background-color : #212121; 
  border: 6px white;

}


input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #eee;
}

.no-outline:focus {
  outline: none;
}

input::placeholder
{
  color:yellow;
  opacity: 50%;
}

input, select, textarea{
  color: yellow;
}

textarea:focus, input:focus {
  color: yellow;
}

.leaflet-popup-content-wrapper, .leaflet-popup.tip {
  background-color: #212121;
}