#map {
  height: 100vh;
  /* background-color: yellow; */
  /* filter: hue-rotate(0deg); */
}

/* General css for common */
.btn {
  background-color: #212121;
  color: yellow;
  border-color: yellow;
}
.btn:hover {
  background-color: yellow;
  color: #212121;
}

/* list of the dropwdown css */
.dropdown-menu {
  background-color: #212121;
}
.dropdown-item {
  color: yellow;
}
.dropdown-item:hover {
  background-color: yellow;
  color: #212121;
}
.dropdown-item:focus {
  background-color: yellow;
  color: #212121;
}

/* Tab navigation link css */
.nav {
  background-color: #212121;
  border-color: #212121;
}
.nav-item {
  background-color: #212121;
  color: yellow;
}
.nav-tabs .nav-link {
  color: yellow;
}
.nav-tabs .nav-item .nav-link.active {
  background-color: yellow;
  color: #212121;
}
.nav-tabs .nav-item .nav-link:hover {
  background-color: yellow;
  color: #212121;
  transition: 0.7s;
  opacity: 80%;
}
/* Tab content css */
.tab-content {
  background-color: #212121;
}
.transportation {
  background-color: #212121;
  color: yellow;
}
/*container for whole tab css*/
#containerTab {
  width: 400px;
  height: auto;
  z-index: 30000;
  opacity: 98%;
}

/* Dropdownlist css*/

#category {
  border-color: yellow;
  background-color: #212121;
  color: yellow;
  border-radius: 6px;
}
#category:hover {
  background-color: yellow;
  color: #212121;
}
.showCategoryName {
  background-color: #212121;
  color: yellow;
}

/* Result list css*/
.resultsDisplay {
  border-color: yellow;
  background-color: #212121;
  border-color: yellow;
  color: yellow;
  max-height: 130px;
  max-width: auto;
  overflow-y: scroll;
}

/*MARKER BIND POP UP CSS*/
.popup {
  /* overflow: scroll; */
  width: 200px;
  height: auto;
  padding: 0px;
  background-color: #212121;
  border-color: #212121;
  color: #fab700;
}
.popup img {
  height: 100px;
}

.leaflet-popup-content-wrapper,
.leaflet-popup.tip {
  background-color: #212121;
}

.card {
  background-color: #212121;
  border: 0px;
}

.weatherbackground {
  background-color: #212121;
  color: yellow;
  padding: 5px;
}

/* LOGO*/

.logo {
  z-index: 30000;
  width: 200;
  height: 200px;
}
img {
  width: 140px;
  height: 140px;
}
.buttonMenu {
  z-index: 30000;
}

.menu {
  height: 100%;
  width: 0;
  position: fixed;
  opacity: 98%;

  top: 0;
  left: 0;
  background-color: #212121;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
  cursor: arrow;
  z-index: 3000;
}
.menuBtnClose {
  transition: 0.1;
}

.menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: yellow;
  display: block;
  transition: 0.3s;
}

.menu a:hover {
  color: #212121;
  transition: 0.5s;
  background-color: yellow;
}

.menu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .menu {
    padding-top: 15px;
  }
  .menu a {
    font-size: 18px;
  }
}

@media screen and (max-width: 412px) {
  /* And even smaller */
  #containerTab {
    width: 300px;
    height: auto;
    z-index: 30000;
    opacity: 98%;
    margin-right: 74px;
  }
  .nav-tabs .nav-link {
    padding: 5px;
  }
  .tab-content {
    padding: 0px;
  }
  .input-group {
    padding: 0px;
  }
  .dropdown-item {
    padding: 0px;
    margin: 0px;
  }

  .menu {
    height: 100%;

    background-color: #212121;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
    cursor: arrow;
    z-index: 3000;
  }
  .menuBtnClose {
    transition: 0.1;
  }

  .menu a {
    padding: 0px;
    text-decoration: none;
    font-size: 20px;
    color: yellow;
    display: block;
    transition: 0.3s;
  }

  .menu a:hover {
    color: #212121;
    transition: 0.5s;
    background-color: yellow;
  }

  .menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
}

.logoCrown {
  width: 65px;
  height: 50px;
}

.modal-content {
  background-color: #212121;
  color: yellow;
}

@media screen and (max-width: 412px) {
  .modal-content {
    margin-top: 250px;
    padding: 20px;
  }
}
