#map {
  height: 100vh;
}

.containe-fluid {
  position: relative;
}

#containersearch {
  background-color: #212121;
  position: absolute;
  /* top: 2%; */
  z-index: 30000;
  width: auto;
  /* margin-top: 20px;
  margin-left: 20px; */
  /* height: 200px; */
  /* left: 50px; */

  /* the height container, depending on its content, can be more than 25px. 
    But when it has no content, it has to be 25px */
  /* min-height: 100px; */
  /* overflow: hidden; */
  min-height: auto;
  /* height: 200px; */
  /* padding-left: 10px;
  padding-right: 10px; */

  /* display: none; */
  border-radius: 10px;
  color: yellow;
  opacity: 96%;
}

#results {
  max-height: 130px;
  overflow-y: scroll;
}

.search-result {
  margin: 5px;
}

#btnToggleSearch {
  position: absolute;
  left: 50px;
  top: 10px;
  z-index: 300000;
}

.popup {
  overflow: scroll;
  width: 300px;
  height: 300px;
  background-color: #212121;
  border-color: #212121;
  color: #fab700;
}

.popup img {
  height: 100px;
}

@media (min-width: 767px) {
  /* because the div is a block-level element, so we use display: block */
  #search-container {
    display: block;
    left: 5%;
  }

  #btnToggleSearch {
    display: none;
  }
}

/* input[type="button"] {
  background: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
} */

.btn {
  background-color: #fab700;
  color: white;
  /* padding: 10px; */
  /* padding-right: 8px; */
  /* padding-top: 10px;
  padding-bottom: 0px; */
}

input[type="text"],
textarea {
  background-color: #212121;
  border: 6px white;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-color: #fab700;
  /* background-color: ; */
  height: 38px;
  /* padding-top: 1px; */
  /* border-radius: 10px; */
}

.no-outline:focus {
  outline: none;
}

input::placeholder {
  color: #fab700;
  opacity: 50%;
}

input,
select,
textarea {
  color: #fab700;
}

textarea:focus,
input:focus {
  color: #fab700;
}

.leaflet-popup-content-wrapper,
.leaflet-popup.tip {
  background-color: #212121;
}

/* .searchbox
{
  padding-top:10px;
  padding-bottom:30px;
} */
/*
.d-flex
{
    
}
*/

.my-tab .tab-pane {
  border: solid 1px blue;
}

#nav-home-tab:focus {
  background-color: #fab700;
  color: white;
  border-color: #fab700;
}

#nav-profile-tab:focus {
  background-color: #fab700;
  color: white;
  border-color: #fab700;
}

#nav-home-tab .nav-item .nav-link.active {
  color: #0080ff;
}

.nav-tabs .nav-link {
  color: white;
}

.nav-tabs .nav-item .nav-link.active {
  background-color: pink;
}
